<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body class="skills">
  <h1>Dev Skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <form action="/skills/<%= s.id %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit" class="del">X</button>
        </form>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add Skill</a>
  <a href="/">Home</a>
</body>
</html>