<!DOCTYPE html>
<html>
  <head>
    <title>Express Practice</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class='home'>
    <h1>Dev Skills</h1>
    <p>A lab to practice Node.js using Express! Click the link to see, add, and edit saught after skills within Software Development</p>
    <a href="/skills">Dev Skills List</a>
  </body>
</html>
